<li
  class="todo-row list-group-item"
  #todoRowRef
  [ngClass]="{ 'py-0': isEditing }"
  data-bs-toggle="tooltip"
  data-bs-placement="top"
  data-bs-html="true"
  data-bs-title="- Double click to enter edit content mode."
>
  <div [ngClass]="{ 'd-none': isEditing, 'd-flex': !isEditing }" class="d-flex align-items-center position-relative">
    <input
      class="form-check-input me-3 mt-0"
      type="checkbox"
      [checked]="todo.done"
      (click)="onComplete()"
      [disabled]="disableCheckbox"
    />
    <label
      class="form-check-label flex-fill"
      [ngClass]="{ 'text-decoration-line-through': todo.done }"
      [for]="'complete-todo' + todo.id"
      (dblclick)="onEnterEditMode()"
      >{{ todo.content }}</label
    >
    <button type="button" class="btn-close position-absolute" [disabled]="disableCloseBtn" (click)="onDelete()">
      {{ '' }}
    </button>
  </div>

  @if (isEditing) {
    <div class="h-100">
      <input
        class="form-control flex-fill"
        *ngIf="isEditing"
        [formControl]="editInputFormControl"
        #editInputRef
        (blur)="onSave()"
        (keydown.enter)="onSave()"
      />
    </div>
  }
</li>
